%header.mast

  .circle-wrap
    .circle.secondary
    .circle.primary

  %h1
    = "#{@title}"

  %h2
    = app(:tagline)
    = partial :'partials/social'

  %nav
    %a.icon-github{ href: app(:github_url), target: '_blank' }
    %a.icon-twitter{ href: "http://twitter.com/#{app(:twitter)}", target: '_blank' }
    %a.icon-cdn{ href: app(:cdn_url) }