
= partial :'partials/about_pep'

= partial :'partials/usage'


/ Populate all of the demos.
- demos.each_with_index do |demo, index|
  - index += 1
  = partial :'partials/demo', locals: { demo: demo, index: index  }

= partial :'partials/demos_alt'

%section.demo.full.bugs
  %header
    Found a bug?
  .inner
    %h2
      %a{ href: 'https://github.com/briangonzalez/jquery.pep.js/issues', target: '_blank' }
        File an issue on Github, por̃ favor

= partial :'partials/about'